*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color:white;
}
.container{
    display: grid;
}
.container{
    display: grid;

    grid-template-columns: repeat(18, 70px);
}
.element{
    border: 1px solid white;
    height: 70px;
    width : 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.element{
    grid-column: 1;
}
.hydrogen{
    grid-column: 1;
}
.helium {
    grid-column: 18;
}
.helium{
    grid-column: 5;
}