body {
    font-family: Arial;
    text-align: center;
}

.table {
    display: grid;
    grid-template-columns: repeat(18, 60px);
    gap: 5px;
    justify-content: center;
}

.element {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.empty {
    width: 60px;
    height: 60px;
}

/* Colors */
.alkali { background: #ff9999; }
.alkaline { background: #ffcc99; }
.metalloid { background: #cccc99; }
.nonmetal { background: #99ccff; }
.halogen { background: #ffccff; }
.noble { background: #cc99ff; }