*{
    margin: 0;
    padding: 0;
    font-style: bold;
}
.main_box{
    background: url("cameraseen.jpg");
    height: 100vh;
    background-size: cover;
}
.btn_one{
    color: white;
    font: 30px;
    font-weight: bold;
    position: absolute;
    left: 16px;
    line-height: 60px;
}
